.home_body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_container{
    width: 90%;
    margin-top: 50px;
}
.home_content{
    display: grid;
    grid-template-columns: repeat(5,20.76%);

   
    padding: 4px;
  color: rgb(134, 255, 255);
}
@media only screen and (max-width:1700px){
    .home_content{
        grid-template-columns: repeat(4,27.1%);
    }
}
@media only screen and (max-width:1500px){
    .home_content{
        grid-template-columns: repeat(3,38.6%);
    }
}